@font-face{
	src: url("../Fonts/avengeance_heroic_avenger_at-webfont.woff");
	font-family: 'avengeance_heroic_avengerIt';
}
body {
    background-image: url(../images/ALogo.jpeg);
    background-repeat: repeat;
    background-position: center top;
}

p,form {
    margin-bottom: 3em;
    color: #FFFFFF;
}

h1 {
    margin-top: 40px;
    font-family: 'avengeance_heroic_avengerIt';
    font-size: 100px;
    margin-bottom: 20px;
    color: #ADADAD;
}


.container{
    margin-top: 20px;
    background-color: #190C2F;
    margin-bottom: 20px;
}
.btn{
	background: #545454
}

.btn:hover {
    background-color: #B6B6B6;
}

#start {
    margin: 320px 0 480px 0;
}

#done{
    margin-bottom: 40px;
}

#summary {
    margin-top: 60px;
    margin-bottom: 480px;
    color: #8E8E8E;
}
